---
Checks:          '-*,
                  cppcoreguidelines-*,
                  google-*,
                  modernize-*,
                  -modernize-use-trailing-return-type'
WarningsAsErrors: ''
AnalyzeTemporaryDtors: false
FormatStyle:     Chromium
...